*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#FFD369,#FFF8E7);
    transition:1s;
    padding:20px;
}
.container{
    width:100%;
    max-width:380px;
    border-radius:35px;
    padding:28px;
    backdrop-filter:blur(25px);
    background:rgba(255,255,255,.25);
    box-shadow:0 20px 45px rgba(0,0,0,.15);
}
.weather-card{
    text-align:center;
    transition:opacity .4s ease;
}
#weatherIcon{
     width:120px;
     height:120px;
     display:block;
     margin:0 auto 10px;
}
#temperature{
    font-size:80px;
    font-weight:600;
}
#description{
    font-size:28px;
    margin-top:8px;
}
#cityName{
    margin-top:10px;
    font-size:18px;
    color:#444;
}
#feelsLike{
    margin-top:10px;
    display:inline-block;
    padding:8px 18px;
    background:white;
    border-radius:30px;
}
.search-box{
    display:flex;
    margin:35px 0;
    gap:12px;
}
#cityInput{
    flex:1;
    border:none;
    outline:none;
    padding:16px;
    border-radius:18px;
    font-size:16px;
}
#searchBtn{
    width:58px;
    border:none;
    border-radius:18px;
    cursor:pointer;
    font-size:20px;
    background:white;
}
.details{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:16px;
}
.detail-box{
    background:rgba(255,255,255,.45);
    padding:18px;
    border-radius:22px;
    text-align:center;
}
.detail-box h3{
    font-size:15px;
    color:#666;
}
.detail-box p{
    margin-top:10px;
    font-size:22px;
    font-weight:600;
}
#locationBtn{
    width:58px;
    border:none;
    border-radius:18px;
    cursor:pointer;
    font-size:20px;
    background:white;
    transition:.3s;
}
#locationBtn:hover{
    transform:scale(1.05);
}
.hidden{
    display:none;
}
#errorCard{
    margin-bottom:25px 0;
    background:rgba(255,255,255,.4);
    border-radius:22px;
    padding:25px;
    text-align:center;
}
.error-icon{
    font-size:55px;
    margin-bottom:15px;
}
#errorCard h2{
    margin-bottom:10px;
}
#errorCard p{
    color:#555;
}
#recentSection{
    margin-bottom:25px;
}
#recentSection h3{
    margin-bottom:12px;
    font-size:16px;
    color:#444;
}
#recentCities{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.city-chip{
    padding:8px 16px;
    border-radius:20px;
    background:rgba(255,255,255,.55);
    cursor:pointer;
    transition:.3s;
    font-size:14px;
}
.city-chip:hover{
    transform:translateY(-2px);
    background:white;
}
#loadingCard{
    text-align:center;
    margin:25px 0;
}
.loader{
    width:55px;
    height:55px;
    margin:auto;
    border:6px solid rgba(255,255,255,.5);
    border-top:6px solid white;
    border-radius:50%;
    animation:spin .9s linear infinite;
}
#loadingCard p{
    margin-top:15px;
    font-size:17px;
    font-weight:500;
}
@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}
.fade{
    opacity:0;
}
#splashScreen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(135deg,#A7C7E7,#EAF4FF);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .8s ease;
}
#splashScreen img{
    width:170px;
    margin-bottom:20px;
}
#splashScreen h1{
    font-size:58px;
    letter-spacing:10px;
    color:#1B2A4A;
}
#splashScreen.hide{
    opacity:0;
    pointer-events:none;
}